#####################################
######## C project gitignore ########
#####################################

# Ignore the build directory
build/
*.o
*.d
*.gch

# Ignore compiled files
*.exe
*.dll

# Ignore error logs
*.log

# Ignore handouts and turnins
*.tar
*.pdf
